In [1]:
import pandas as pd
import numpy as np

In [4]:
concrete_data=pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [11]:
#Splitting the data into predictors and target
concrete_data_columns=concrete_data.columns

predictors=concrete_data[concrete_data_columns[concrete_data_columns!=' Strength']]
#Selectingb all colums except the coumn name 'Strength'

target=concrete_data['Strength']#Strength Column

In [12]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [17]:
#normalize the data by substracting the mean and dividing by the standard deviation.
predictors_norm=(predictors-predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597,2.644123
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597,1.560663
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340,0.266498
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221,0.313188
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069,0.507732

In [18]:
n_cols = predictors_norm.shape[1] # number of predictors

In [19]:
import keras

Using TensorFlow backend.

In [21]:
from keras.models import Sequential
from keras.layers import Dense

In [30]:
def regression_model():
    model=Sequential()
    model.add(Dense(50,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(50,activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

In [ ]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1631.0589 - val_loss: 1133.8574
Epoch 2/100
 - 0s - loss: 1481.8798 - val_loss: 998.5082
Epoch 3/100
 - 0s - loss: 1223.3387 - val_loss: 786.6423
Epoch 4/100
 - 0s - loss: 842.3967 - val_loss: 522.1063
Epoch 5/100
 - 0s - loss: 429.0296 - val_loss: 291.2752
Epoch 6/100
 - 0s - loss: 184.4234 - val_loss: 176.0021
Epoch 7/100
 - 0s - loss: 123.2502 - val_loss: 149.9879
Epoch 8/100
 - 0s - loss: 100.8025 - val_loss: 146.4499
Epoch 9/100
 - 0s - loss: 84.5962 - val_loss: 135.3675
Epoch 10/100
 - 0s - loss: 72.1243 - val_loss: 124.5479
Epoch 11/100
 - 0s - loss: 61.6674 - val_loss: 113.7143
Epoch 12/100
 - 0s - loss: 53.1342 - val_loss: 105.0219
Epoch 13/100
 - 0s - loss: 45.9024 - val_loss: 94.0959
Epoch 14/100
 - 0s - loss: 39.8885 - val_loss: 87.7749
Epoch 15/100
 - 0s - loss: 34.8341 - val_loss: 79.7779
Epoch 16/100
 - 0s - loss: 30.8545 - val_loss: 72.8647
Epoch 17/100
 - 0s - loss: 27.0107 - val_loss: 68.2809
Epoch 18/100
 - 0s - loss: 24.1412 - val_loss: 62.8680
Epoch 19/100
 - 0s - loss: 21.7688 - val_loss: 59.1448
Epoch 20/100
 - 0s - loss: 19.5449 - val_loss: 55.2253
Epoch 21/100
 - 0s - loss: 17.8495 - val_loss: 51.7331
Epoch 22/100
 - 0s - loss: 16.3258 - val_loss: 49.4123
Epoch 23/100
 - 0s - loss: 15.1062 - val_loss: 47.2616
Epoch 24/100
 - 0s - loss: 14.0233 - val_loss: 44.5504
Epoch 25/100
 - 0s - loss: 13.0371 - val_loss: 42.8729
Epoch 26/100
 - 0s - loss: 12.2087 - val_loss: 42.1991
Epoch 27/100
 - 0s - loss: 11.4198 - val_loss: 40.6480
Epoch 28/100
 - 0s - loss: 10.8034 - val_loss: 39.2121
Epoch 29/100
 - 0s - loss: 10.1741 - val_loss: 38.9044
Epoch 30/100
 - 0s - loss: 9.6205 - val_loss: 37.3974
Epoch 31/100
 - 0s - loss: 9.1151 - val_loss: 36.6428
Epoch 32/100
 - 0s - loss: 8.6370 - val_loss: 36.0839
Epoch 33/100
 - 0s - loss: 8.2043 - val_loss: 34.9879
Epoch 34/100
 - 0s - loss: 7.7801 - val_loss: 34.0380
Epoch 35/100
 - 0s - loss: 7.4274 - val_loss: 33.7611
Epoch 36/100
 - 0s - loss: 7.0556 - val_loss: 32.6880
Epoch 37/100
 - 0s - loss: 6.7269 - val_loss: 32.6657
Epoch 38/100
 - 0s - loss: 6.3303 - val_loss: 31.9246
Epoch 39/100
 - 0s - loss: 6.0135 - val_loss: 31.2099
Epoch 40/100
 - 0s - loss: 5.7206 - val_loss: 30.8056
Epoch 41/100
 - 0s - loss: 5.4526 - val_loss: 29.7798
Epoch 42/100
 - 0s - loss: 5.2238 - val_loss: 29.1829
Epoch 43/100
 - 0s - loss: 5.0192 - val_loss: 28.9079
Epoch 44/100
 - 0s - loss: 4.7597 - val_loss: 28.2507
Epoch 45/100
 - 0s - loss: 4.5691 - val_loss: 27.8324
Epoch 46/100
 - 0s - loss: 4.3291 - val_loss: 27.2998
Epoch 47/100
 - 0s - loss: 4.1627 - val_loss: 26.8832
Epoch 48/100
 - 0s - loss: 4.0214 - val_loss: 26.2823
Epoch 49/100
 - 0s - loss: 3.8314 - val_loss: 25.5909
Epoch 50/100
 - 0s - loss: 3.6208 - val_loss: 25.4739
Epoch 51/100
 - 0s - loss: 3.4622 - val_loss: 24.6535
Epoch 52/100
 - 0s - loss: 3.3314 - val_loss: 23.8931
Epoch 53/100
 - 0s - loss: 3.1499 - val_loss: 23.7089
Epoch 54/100
 - 0s - loss: 3.0236 - val_loss: 23.4698
Epoch 55/100
 - 0s - loss: 2.9129 - val_loss: 22.7996
Epoch 56/100
 - 0s - loss: 2.7944 - val_loss: 22.3796
Epoch 57/100